GameStore/GameStoreWinForms/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Selfhost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Selfhost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsGenre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Games" nillable="true" type="tns:ArrayOfclsGame" />
      <xs:element minOccurs="0" name="GenreDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGenre" nillable="true" type="tns:clsGenre" />
  <xs:complexType name="ArrayOfclsGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGame" nillable="true" type="tns:clsGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGame" nillable="true" type="tns:ArrayOfclsGame" />
  <xs:complexType name="clsGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameCode" type="xs:int" />
      <xs:element minOccurs="0" name="GameGenre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGame" nillable="true" type="tns:clsGame" />
  <xs:complexType name="clsDigital">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsGame">
        <xs:sequence>
          <xs:element minOccurs="0" name="GameKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Media" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsDigital" nillable="true" type="tns:clsDigital" />
  <xs:complexType name="clsPhysical">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsGame">
        <xs:sequence>
          <xs:element minOccurs="0" name="Media" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MediaType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShippingCost" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsPhysical" nillable="true" type="tns:clsPhysical" />
  <xs:complexType name="clsOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsOrder" nillable="true" type="tns:clsOrder" />
</xs:schema>