GameStore/GameStoreApp/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://f00031157:50800/Service1?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://f00031157:50800/Service1?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Game3Selfhost.DTO" />
  <xs:element name="GetGenreNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGenreNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOrderSummaryResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prGenreName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Game3Selfhost.DTO" minOccurs="0" name="GetGenreResult" nillable="true" type="q3:clsGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Game3Selfhost.DTO" minOccurs="0" name="prGenre" nillable="true" type="q4:clsGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGenreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Game3Selfhost.DTO" minOccurs="0" name="prGenre" nillable="true" type="q5:clsGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGenreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>